<!doctype html>
<html>
<head>
<title>{% block title %}Srimato - add content to pixels{% endblock %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.2.js') }}"></script>
<head>
<body vocab="schema.org/" typeof="NewsArticle">
<div class="apptitle">
	<h1><a href="{{ url_for('index') }}">Srimato<br/><p class="small">&rsaquo; Semantic Region-based Image Annotation Tool &lsaquo;</p></a></h1>
</div>
<div class="page">
		<div class="navigation">
			<ul class="navigation">
				<li><a href="{{ url_for('addimage') }}">Neues Bild anlegen</a></li>
				<li><a href="{{ url_for('image_timeline') }}">Alle Bilder</a></li>
			</ul>
		</div>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul class="flashes">
				{% for category, message in messages %}
					<li class="{{ category }}">{{ message }}</li>
				{% endfor %}
				</ul>
			 {% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
</div>
{% block scripts %}{% endblock %}
</body>
</html>