{% extends "base.html" %}
{% block content %}
	<div class=body>
	{% block body %}
		<div class="imageheadline">
			<h1>Infos zu Bild Nr. {{ img.id }}</h1>
			<div class="alignright">
				<a href="">JSON</a>
				<a href="">RDF/XML</a>
				<a href="">JPEG</a>
			</div>
		</div>
		<div class="toolbox">
			<h3>Fragment hinzuf&uuml;gen</h3>
			<ul>
				<li><a href="#" class="addfrag person">Person</a></li>
				<form class="inputfield person" action="{{ url_for('addfragment', imageid=img.id, context='person', namespace='http://xmlns.com/foaf/0.1/' ) }}" method="post">
					<table>
						{% include "includes/person_input.html" %}
						{% include "includes/coordinates_input.html" %}
						<tr>
							<td></td>
							<td><input name="saveanno" type="submit" value="Speichern"></td>
						</tr>
					</table>
				</form>
				<li><a href="#" class="addfrag location">Ort</a></li>
				<form class="inputfield location" action="{{ url_for('addfragment', imageid=img.id, context='location', namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
					<table>
						{% include "includes/location_input.html" %}
						{% include "includes/coordinates_input.html" %}
						<tr>
							<td></td>
							<td><input name="saveanno" type="submit" value="Speichern"></td>
						</tr>
					</table>
				</form>
				<li><a href="#" class="addfrag relation">Link</a></li>
				<form class="inputfield relation" action="{{ url_for('addfragment', imageid=img.id, context='relation', namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
					<table>
						{% include "includes/relation_input.html" %}
						{% include "includes/coordinates_input.html" %}
						<tr>
							<td></td>
							<td><input name="saveanno" type="submit" value="Speichern"></td>
						</tr>
					</table>
				</form>
				<li><a href="#" class="addfrag media">Media</a></li>
				<form class="inputfield media" action="{{ url_for('addfragment', imageid=img.id, context='media', namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
					<table>
						{% include "includes/relation_input.html" %}
						{% include "includes/coordinates_input.html" %}
						<tr>
							<td></td>
							<td><input name="saveanno" type="submit" value="Speichern"></td>
						</tr>
					</table>
				</form>
				<li><a href="#" class="addfrag general">Anderes</a></li>
				<form class="inputfield general" action="{{ url_for('addfragment', imageid=img.id, context='media', namespace='' ) }}" method="post">
					<table>
						{% include "includes/general_input.html" %}
						{% include "includes/coordinates_input.html" %}
						<tr>
							<td></td>
							<td><input name="saveanno" type="submit" value="Speichern"></td>
						</tr>
					</table>
				</form>
			</ul>
		</div>
		
		{% for imageuri in img.imageuris %}
			{% if loop.index<2 %}
			<div class="imageeditor" rel="associatedMedia">
				<img src="{{ imageuri.uri }}" >
			</div>
			{% endif %}
		{% endfor %}
		<div class="imginfos">
			<div class="infoelement urilist" about="{{ imageuri }}">
					<table>
						<tr>
							<form action="{{ url_for('addfragment', imageid=img.id, namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
								<td name="key" class="title">Bildtitel:</td>
								<td>
									<input type="hidden" name="key" size="80" value="title">
									<input type="text" name="value" size="80" value="{{ img.get_key_value(imgmeta, 'title')}}" property="headline">
								</td>
								{% include "includes/coordinates_input_hidden.html" %}
								<td><input name="saveanno" type="submit" value="ok"></td>
							</form>
						</tr>
						<tr>
							<form action="{{ url_for('addfragment', imageid=img.id, anno={'key':'creator'}, namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
								<td name="key" class="author">Autor:</td>
								<td>
									<input type="hidden" name="key" size="80" value="creator">
									<input type="text" name="value" size="80" value="{{ img.get_key_value(imgmeta, 'creator')}}" rel="copyrightHolder">
								</td>
								{% include "includes/coordinates_input_hidden.html" %}
								<td><input type="submit" value="ok"></td>
							</form>
						</tr>
						<tr>
							<form action="{{ url_for('addfragment', imageid=img.id, anno={'key':'policy'}, namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
								<td property="copyrightNotice">Lizenz:</td>
								<td>
									<input type="hidden" name="key" size="80" value="policy">
									<input type="text" name="value" size="80" value="{{ img.get_key_value(imgmeta, 'policy')}}">
								</td>
								{% include "includes/coordinates_input_hidden.html" %}
								<td><input type="submit" value="ok"></td>
							</form>
						</tr>
						<tr>
							<form action="{{ url_for('addfragment', imageid=img.id, anno={'key':'date'}, namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
								<td property="dateCreated">Aufnahmedatum:</td>
								<td>
									<input type="hidden" name="key" size="80" value="date">
									<input type="text" name="value" size="80" value="{{ img.get_key_value(imgmeta, 'date')}}">
								</td>
								{% include "includes/coordinates_input_hidden.html" %}
								<td><input type="submit" value="ok"></td>
							</form>
						</tr>
						<tr>
							<form action="{{ url_for('addfragment', imageid=img.id, anno={'key':'description'}, namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
								<td property="description">Bildbeschreibung:</td>
								<td>
									<input type="hidden" name="key" size="80" value="description">
									<textarea type="text" name="value" cols="60" rows="5" property="description">{{ img.get_key_value(imgmeta, 'description')}}</textarea>
								</td>
								{% include "includes/coordinates_input_hidden.html" %}
								<td><input type="submit" value="ok"></td>
							</form>
						</tr>
					</table>
				</form>
			<div>
			<div class="infoelement urilist">
				<h2>URIS - Weitere Links zu diesem Bild</h2>
				<div class="thumbs">
				{% for imageuri in img.imageuris %}
					{% if loop.index>2 %}
						<ul class="uris">
							<li>{{ imageuri.uri }}</li>
						</ul>
					{% endif %}
					{% endfor %}
					<br/><p>URI hinzuf&uuml;gen</p>
					<form action="{{ url_for('adduri', imageid=img.id) }}" method="post">
						<ul>
							<li>
								+ <input type="text" name="imguri"><input type="submit" value="ok">
							</li>
						</ul>
					</form>
				</div>				
			</div>
			
			<div class="infoelement fraglist">
				<h2>FRAGMENTS - Fragmente des Bildes</h2>
				{% for imagefragment in img.imagefrag if imagefragment.visible %}
					<div class="fragment">
						<h3>Fragment {{ loop.index }}</h3>
						<ul>
							<li>x: {{ imagefragment.x }}</li>
							<li>y: {{ imagefragment.y }}</li>
							{% for metadata in imagefragment.fragmeta %}
							<h4>Metadaten</h4>
							<ul>
								<li>version: {{ metadata.version }}</li>
								<li>created: {{ metadata.timestamp }}</li>
								<li>namespace: {{ metadata.namespace|urlize }}</li>								
								<li><h4>Annotationen</h4>
									<table>
										<colgroup>
											<col width="100px">
											<col width="400px">
										 </colgroup>
										<tr>
											<th>Key</th>
											<th>Value</th>
										</tr>
										{% for annotation in metadata.anno %}
										<tr>
											<td>{{ annotation.an_key }}</td>
											<td>{{ annotation.an_value|urlize }}</td>
										</tr>
										{% endfor %}
									</table>
							</ul>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
	</div>
	<div class=footer>
		Srimato &mdash; A Flask Application
	</div>
{% endblock %}
{% block scripts %}
<script>
	$(document).ready(function() {
	
	   $("a.person").click(function() {
		 $("form.person").css("display", "block");
		 $("form.location").css("display", "none");
		 $("form.relation").css("display", "none");
		 $("form.media").css("display", "none");
		 $("form.general").css("display", "none");
	   });
	   
	   $("a.location").click(function() {
		 $("form.location").css("display", "block");
		 $("form.person").css("display", "none");
		 $("form.relation").css("display", "none");
		 $("form.media").css("display", "none");
		 $("form.general").css("display", "none");
	   });
	   
	   $("a.relation").click(function() {
		 $("form.relation").css("display", "block");
		 $("form.person").css("display", "none");
		 $("form.location").css("display", "none");
		 $("form.media").css("display", "none");
		 $("form.general").css("display", "none");
	   });
	   
	   $("a.media").click(function() {
		 $("form.media").css("display", "block");
		 $("form.person").css("display", "none");
		 $("form.location").css("display", "none");
		 $("form.relation").css("display", "none");
		 $("form.general").css("display", "none");
	   });
		$("a.general").click(function() {
		 $("form.general").css("display", "block");
		 $("form.person").css("display", "none");
		 $("form.location").css("display", "none");
		 $("form.relation").css("display", "none");
		 $("form.media").css("display", "none");
	   });	   
	 });
	 
</script>
{% endblock %}