{% extends "base.html" %}
{% block content %}
	<div class=body>
	{% block body %}
		<div class="imageheadline">
			<h1>Infos zu Bild Nr. {{ img.id }}</h1>
			<div class="alignright">
				<a href="" title="Noch nicht implementiert">JSON</a>
				<a href="" title="Noch nicht implementiert">RDF/XML</a>
				<a href="" title="Noch nicht implementiert">JPEG</a>
			</div>
		</div>
		<div class="toolbox">
			<h3>Fragment hinzuf&uuml;gen</h3>
			<ul>
				<li><a href="#" class="addfrag person">Person</a></li>
				<li><a href="#" class="addfrag location">Ort</a></li>
				<li><a href="#" class="addfrag relation">Link</a></li>
				<li><a href="#" class="addfrag media">Media</a></li>
				<li><a href="#" class="addfrag general">Anderes</a></li>
			</ul>
		</div>
		
		{% for imageuri in img.imageuris %}
			{% if loop.index<2 %}
			<h2 id="coordinates"></h2>
			<div class="imageeditor" vocab="http://schema.org/" typeof="ImageObject">
				<img src="{{ imageuri.uri }}" property="url">
				<div class="srimatodots-wrapper">
					{% for imagefragment in img.imagefrag if imagefragment.visible %}
						{% if imagefragment.x != 0 and imagefragment.y !=0 %}
							<div class="srimatodot-wrapper" style="left: {{ imagefragment.x }}px; top: {{ imagefragment.y }}px;">
								<div class="srimatodot"></div>
								{% for metadata in imagefragment.fragmeta %}
									<ul class="srimatodot-info">
										{% for annotation in metadata.anno %}
											<li>{{ annotation.an_key }}: {{ annotation.an_value|urlize }}</li>
										{% endfor %}
									</ul>
								{% endfor %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
				{% include "includes/form_person.html" %}
				{% include "includes/form_location.html" %}
				{% include "includes/form_relation.html" %}
				{% include "includes/form_media.html" %}
				{% include "includes/form_general.html" %}
			</div>
			{% endif %}
		{% endfor %}
		<div class="imginfos">
			<div class="infoelement urilist" about="{{ imageuri }}" vocab="http://schema.org/" typeof="ImageObject">
					<table>
						<tr>
							<form action="{{ url_for('addfragment', imageid=img.id, namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
								<td name="key" class="title">Bildtitel:</td>
								<td>
									<input type="hidden" name="key" size="80" value="title">
									<input type="text" name="value" size="80" value="{{ img.get_key_value(imgmeta, 'title')}}" property="name">
								</td>
								{% include "includes/coordinates_input_hidden.html" %}
								<td><input name="saveanno" type="submit" value="ok"></td>
							</form>
						</tr>
						<tr>
							<form action="{{ url_for('addfragment', imageid=img.id, anno={'key':'creator'}, namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
								<td name="key">Autor:</td>
								<td>
									<input type="hidden" name="key" size="80" value="creator">
									<input type="text" name="value" size="80" value="{{ img.get_key_value(imgmeta, 'creator')}}" property="author">
								</td>
								{% include "includes/coordinates_input_hidden.html" %}
								<td><input type="submit" value="ok"></td>
							</form>
						</tr>
						<tr>
							<form action="{{ url_for('addfragment', imageid=img.id, anno={'key':'policy'}, namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
								<td>Lizenz:</td>
								<td>
									<input type="hidden" name="key" size="80" value="policy">
									<input type="text" name="value" size="80" value="{{ img.get_key_value(imgmeta, 'policy')}}">
								</td>
								{% include "includes/coordinates_input_hidden.html" %}
								<td><input type="submit" value="ok"></td>
							</form>
						</tr>
						<tr>
							<form action="{{ url_for('addfragment', imageid=img.id, anno={'key':'date'}, namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
								<td>Aufnahmedatum:</td>
								<td>
									<input type="hidden" name="key" size="80" value="date">
									<input type="text" name="value" size="80" value="{{ img.get_key_value(imgmeta, 'date')}}" property="dateCreated">
								</td>
								{% include "includes/coordinates_input_hidden.html" %}
								<td><input type="submit" value="ok"></td>
							</form>
						</tr>
						<tr>
							<form action="{{ url_for('addfragment', imageid=img.id, anno={'key':'description'}, namespace='http://www.w3.org/ns/ma-ont#' ) }}" method="post">
								<td>Bildbeschreibung:</td>
								<td>
									<input type="hidden" name="key" size="80" value="description">
									<textarea type="text" name="value" cols="60" rows="5" property="description">{{ img.get_key_value(imgmeta, 'description')}}</textarea>
								</td>
								{% include "includes/coordinates_input_hidden.html" %}
								<td><input type="submit" value="ok"></td>
							</form>
						</tr>
					</table>
				</form>
			<div>
			<div class="infoelement urilist">
				<h2>URIS - Weitere Links zu diesem Bild</h2>
				<div class="thumbs">
				{% for imageuri in img.imageuris %}
					{% if loop.index>2 %}
						<ul class="uris">
							<li>{{ imageuri.uri }}</li>
						</ul>
					{% endif %}
					{% endfor %}
					<br/><p>URI hinzuf&uuml;gen</p>
					<form action="{{ url_for('adduri', imageid=img.id) }}" method="post">
						<ul>
							<li>
								+ <input type="text" name="imguri"><input type="submit" value="ok">
							</li>
						</ul>
					</form>
				</div>				
			</div>
			
			<div class="infoelement fraglist">
				<h2>FRAGMENTS - Fragmente des Bildes</h2>
				{% for imagefragment in img.imagefrag if imagefragment.visible %}
					<div class="fragment">
						<h3>Fragment {{ loop.index }}</h3>
						<ul>
							<li>x: {{ imagefragment.x }}</li>
							<li>y: {{ imagefragment.y }}</li>
							{% for metadata in imagefragment.fragmeta %}
							<h4>Metadaten</h4>
							<ul>
								<li>version: {{ metadata.version }}</li>
								<li>created: {{ metadata.timestamp }}</li>
								<li>namespace: {{ metadata.namespace|urlize }}</li>								
								<li><h4>Annotationen</h4>
									<table>
										<colgroup>
											<col width="100px">
											<col width="400px">
										 </colgroup>
										<tr>
											<th>Key</th>
											<th>Value</th>
										</tr>
										{% for annotation in metadata.anno %}
										<tr>
											<td>{{ annotation.an_key }}</td>
											<td>{{ annotation.an_value|urlize }}</td>
										</tr>
										{% endfor %}
									</table>
							</ul>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
	</div>
	<div class=footer>
		Srimato &mdash; A Flask Application &mdash; &copy; <a href="http://anne-bauermeister.de" target="_blank">Anne Bauermeister</a>
	</div>
{% endblock %}
{% block scripts %}
<script>
	$(document).ready(function() {
		
		/* 
			Enable adding fragments to the image 
		*/
		function enableFrags(event) {
		
			/* Calculate coordinates from click event ( substracted by the half of the dot size to be centered)	*/
			var mleft = event.pageX - this.offsetLeft - 10;
			var mtop = event.pageY - this.offsetTop - 10;
			
			/* Place a new dot on the coordinates	*/
			$("div.srimatodots-wrapper").append(
					"<div class='srimatodot-wrapper' style='left:" + mleft +  "px; top:" + mtop + "px;'><div class='srimatodot'></div></div>"
				);
			
			/* Display right form */
			var cssForm = {
				'display' : 'block',
				'left' : mleft + 30,
				'top' : mtop
			}
			if(event.data.frag == "person"){
				$("form.person").css(cssForm);
				$("form.location, form.relation, form.media, form.general").css("display", "none");
			} else if(event.data.frag == "location"){
				$("form.location").css(cssForm);
				$("form.person, form.relation, form.media, form.general").css("display", "none");
			} else if(event.data.frag == "relation"){
				$("form.relation").css(cssForm);
				$("form.person, form.location, form.media, form.general").css("display", "none");
			} else if(event.data.frag == "media"){
				$("form.media").css(cssForm);
				$("form.person, form.location, form.relation, form.general").css("display", "none");
			} else if(event.data.frag == "general"){
				$("form.general").css(cssForm);
				$("form.person, form.location. form.relation, form.media").css("display", "none");
			}
			
			/* Fill form with selected coordinates */
			$('input[name="xvalue"]').val(mleft);
			$('input[name="yvalue"]').val(mtop);
			
			/* After click, set the cursor back to default state and disable adding new fragements  */
			$("div.imageeditor").css("cursor", "default");
			$("div.imageeditor").off("click", enableFrags);
		}
		
		/* After user selected a fragment type, hovering the picture ends up in a crosshair cursor to add a fragement  */
		$("a.addfrag").click(function() {
			$("div.imageeditor").css("cursor", "crosshair");
		});
		
		/* After user selected coordiantes, the right form is popping up to enter text  */
		$("a.person").click(function() {
			$("div.imageeditor").on("click", {frag: "person"}, enableFrags);
		});
		
		$("a.location").click(function() {
			$("div.imageeditor").on("click", {frag: "location"}, enableFrags);
		});
		
		$("a.relation").click(function() {
			$("div.imageeditor").on("click", {frag: "relation"}, enableFrags);
		});
		
		$("a.media").click(function() {
			$("div.imageeditor").on("click", {frag: "media"}, enableFrags);
		});
		
		$("a.general").click(function() {
			$("div.imageeditor").on("click", {frag: "general"}, enableFrags);
		});	 

		$("div.srimatodot-wrapper").hover(function() {
			$(this).find(".srimatodot-info").toggle();
		});
	 });
	 
</script>
{% endblock %}